:root {
    --bg-color: #1d1d1d;
    --input-text-color: #c5c5c5;
    --muted-text: #292929;
    --border-color: #000000;
    --slide-text-color: #ffffff;
    --ui-font: "Inter", sans-serif;
    --initial-fluorescent: hsl(190, 100%, 50%);    
}

html {
    height: 100%;
    text-rendering: optimizeLegibility;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--ui-font);
}

#root {
    height: 100%;
}

.layoutContainer {
    height: 100%;
}

/* top bar */
.barContainer { 
    height: 48px;
    width: calc(100% - 370px);
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--muted-text);
    border-bottom: 1px solid var(--border-color);
    opacity: 0.7;
    backdrop-filter: blur(9px);
    color: var(--input-text-color);
    text-align: center;
  }
  
  .barIconWrapper {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .barPlayButtonContainer {
    float: right;
    color: var(--slide-text-color);
    margin-top: 12px;
    margin-right: 24px;
  }

  .barPlayButtonContainer:hover {
    color: var(--input-text-color);
  }

/* editor */

.rightAlign {
    height: calc(100% - 49px);
    width: calc(100% - 370px);
    position: absolute;
    bottom: 0;
    margin-left: 370px;
    margin-top: 48px;
}

.editorContainer {
    height: 100%;
}

.react-codemirror2 {
    height: 100%;
}

.cmContainer {
    height: 100%;
}

.CodeMirror {
    height: 100% !important;
    background-color: var(--bg-color) !important;
    padding: 48px 128px;
    color: var(--input-text-color) !important;
    font-size: 24px;
    box-sizing: border-box;
}

.cm-header {
    color: var(--input-text-color) !important;
}

.CodeMirror-cursor {
    border-left: 1px solid var(--input-text-color) !important;
}

/* L sidebar */

.leftSidebarContainer {
    height: 100%;
    width: 370px;
    border-right: 1px solid var(--border-color);
    padding: 24px 16px;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* slides */

.previewObject {
    position: relative;
}

.previewSlideContainer {
    width: 300px;
    height: 169px;
    /* background-color: var(--initial-fluorescent); */
    margin-bottom: 8px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 44px;
}

.previewSlideTextContainer {
    width: 100%;
    height: 100%;
    text-align: left;
    margin-bottom: auto;
    position: relative;
}

.slideId {
    color: var(--slide-text-color);
    display: inline-block;
    padding: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 14px;
    text-align: center;
    position: absolute;
}

.presenterNavigatorContainer {
    /* width: 300px; */
    height: 48px;
    position: absolute;
    bottom: 0;
    padding: 24px;
    background-color: var(--bg-color);
    border-radius: 16px;
    margin-bottom: 48px;
    left: 50%;
}

.presenterNavigatorIncrementButton {
    display: inline-block;
    font-family: var(--ui-font);
    border: none;
    background-color: var(--muted-text);
    color: var(--input-text-color);
    padding: 8px;
    border-radius: 8px;
}

.presenterNavigatorSlideCounterWrapper {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}

h1 {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--slide-text-color);
}

h2 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--slide-text-color);
    margin-bottom: 8px;
}

h3 {
    margin: 0;
    font-size: 0.8rem;
    color: var(--slide-text-color);
}