:root {
    --bg-color: #1d1d1d;
    --input-text-color: #ffffff;
    --muted-text: #5a5a5a;
    --border-color: #000000;
    --slide-text-color: #ffffff;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-color);
}

#root {
    height: 100%;
}

.layoutContainer {
    height: 100%;
}

/* L sidebar */

.leftSidebarContainer {
    height: 100%;
    width: 350px;
    border-right: 1px solid var(--border-color);
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
}

/* slides */

.previewSlideContainer {
    width: 300px;
    height: 169px;
    background-color: var(--muted-text);
    margin-bottom: 8px;
}